body {
  margin: 0;
  padding: 0;
}

#logo {
  float: left;
}

header {
  padding: 40px;
  background-color: #eee;
  width: 100%;
}

a {
  float: right;
  text-decoration: none;
  padding-right: 5px;
}

a {
  text-decoration: none;
}